.navbar{
  max-width: fit-content;
  /*width: 25%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); */
}

.navbar a{
    margin-right:30px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(37, 65, 105);

}

.navbar a:active{
    color: rgb(37, 65, 105);
}

.pages{
    margin-left: 60px; 
}

.icon{
    margin-right: 20px;
}

.share-button{
    margin-left: 60px; 
    padding: 10px;
    background-color: rgb(37, 65, 105);
    border-style: none;
    border-radius: 20px;
    color: rgb(235, 235, 235);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 80%;
}
