.header-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.website-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-picture{
    max-height: 30px;
    max-width: 30px;
    border-radius: 80px;
    
}

.header-container > p{
cursor: pointer;
}