.App{
  width: 100vw;
  height: 100vh;

}

body{
  margin: 0;
  padding: 0;
  background: rgb(2,63,77);
  background: linear-gradient(90deg, rgba(2,63,77,1) 42%, rgba(19,119,111,1) 100%);
  color: white;
}